<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <title>Survey Tool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css Frontend/styles/vendor.css -->

    <link href="Frontend/styles/icon.css" rel="stylesheet" />

    <link href="Frontend/vendors/angular-material/angular-material.css" rel="stylesheet" />
    <link href="Frontend/vendors/angular-material/layouts/angular-material.layouts.css" rel="stylesheet" />
    <link href="Frontend/vendors/angular/angular-csp.css" rel="stylesheet" />
    <link href="Frontend/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Frontend/vendors/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Frontend/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Frontend/vendors/tableexport.js/dist/css/tableexport.min.css" rel="stylesheet" />
    <link href="Frontend/vendors/novus-nvd3-ebdf08b/build/nv.d3.min.css" rel="stylesheet" />
    <!--<link href="Frontend/vendors/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />-->
    <!-- endbuild -->
    <!-- build:css Frontend/styles/main.css -->

    <link href="Frontend/styles/scss/pages/master/StyleSheet.css" rel="stylesheet" />
    <link href="Frontend/styles/scss/pages/master/Icon.css" rel="stylesheet" />
    <link href="Frontend/app/Home/HomeStyle.css" rel="stylesheet" />
    <link href="Frontend/app/Dasboard/normalize.css" rel="stylesheet" />
    <link href="Frontend/app/Dasboard/style.css" rel="stylesheet" />
    <link href="Frontend/app/CreateSurvey/StyleCreateSurvey.css" rel="stylesheet" />
    <link href="Frontend/app/Register/RegisterStyle.css" rel="stylesheet" />
    <link href="Frontend/app/ConductionSurvey/style.css" rel="stylesheet" />
    <link href="Frontend/app/ResultSurvey/StyleResultSurvey.css" rel="stylesheet" />
    <link href="Frontend/styles/scss/pages/master/socialize-bookmarks.css" rel="stylesheet" />
    <!-- endbuild -->
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0pt;
        }

        .Frame {
            display: table;
            height: 100%;
            width: 100%;
        }

        .Row {
            display: table-row;
            height: 1px;
        }

            .Row.Expand {
                height: 100%;
            }
    </style>
</head>
<body class="Frame">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <md-toolbar ng-controller="MasterController" style="background:#5f5f5f;position:fixed; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;" class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon ><i style="color:white" class="fa fa-home fa-lg" aria-hidden="true"></i></md-icon>
        </md-button>
       
        <span flex=""></span>
       
          <md-menu ng-show="Logged" md-position-mode="target-right bottom" md-offset="0 -7">
              <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                      <md-icon><i class="material-icons">notifications</i></md-icon>
                  </md-button>
              <md-menu-content width="7" style="height:700px">
                  <md-menu-item>
                      <md-content>
                          <md-list>
                              <md-list-item class="md-3-line" >
                                  <div class="md-list-item-text">
                                      <h3 style="text-align:left">nhn12</h3>
                                      
                                      <p>Request join survey ABC</p>
                                  </div>
                                  <md-button style="background:green; color:white" class="md-secondary">Join</md-button>
                                  <md-divider ng-if="!$last"></md-divider>
                              </md-list-item>
                          </md-list>
                      </md-content>
                  </md-menu-item>
              </md-menu-content>
          </md-menu>
      
        
          <md-button style="color:white; border-right:solid 1px white" ng-show="notLogin" ng-click="showLogin($event)">
              <md-icon><i class="material-icons">arrow_upward</i></md-icon>
              Sign In
          </md-button>
          <md-button style="color:white" ng-show="notLogin" ng-href="#register" >
              <md-icon><i class="material-icons">vpn_key</i></md-icon>
                  Sign Up
          </md-button>
          <md-button ng-show="Logged" style="font-size:15px;color:white">
              hi, {{nameUser}}<md-icon><i class="material-icons">face</i></md-icon>
          </md-button>
          <md-menu style="border-left:solid 1px white" ng-show="Logged" md-position-mode="target-right bottom">
                      <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" >
                          <md-tooltip>
                              More Profile
                          </md-tooltip>
                          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                      </md-button>
                      <md-menu-content width="3" >
                          <md-menu-item>
                              <md-button ng-click="logoutUser()">
                                  <md-icon><i class="material-icons">person_pin</i></md-icon>
                                  <span style="margin-left:5%" md-menu-align-target="">Detail Profile</span>
                              </md-button>
                              </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="logoutUser()">
                                        <md-icon><i class="material-icons">arrow_downward</i></md-icon>
                                        <span style="margin-left:5%" md-menu-align-target="">Logout</span>
                                    </md-button>
                                </md-menu-item>
              </md-menu-content>
          </md-menu>
          
      </div>
    </md-toolbar>
    

    <div class="Row Expand" style="margin-top:50px;width:100%" ng-view></div>
    <!-- build:js Frontend/scripts/vendor.js -->
    <footer class="Row" style="height:50px">
       
        <section id="footer_2" >
            <div class="container" >
                <div class="row" layout="row" >
                   
                        <ul id="footer-nav">
                            <li>Copyright© TMA Solution  TMA Solutions Corporate Intranet – Survey Tool | For questions, suggestions or bug reports please call 5xxx</li>                        
                        </ul>
                     <div style="text-align:center">
                        <ul class="social-bookmarks clearfix">
                            <li class="facebook"><a href="#">facebook</a></li>
                            <li class="googleplus"><a href="#">googleplus</a></li>
                            <li class="twitter"><a href="#">twitter</a></li>
                            <li class="delicious"><a href="#">delicious</a></li>
                            <li class="paypal"><a href="#">paypal</a></li>
                        </ul>
                    </div>
                   
                </div>

            </div>
        </section>

    </footer>


    <script src="Frontend/vendors/angular/angular.js"></script>
    <script src="Frontend/vendors/angular-route.min.js"></script>
    <script src="Frontend/vendors/angular-animate.min.js"></script>
    <script src="Frontend/vendors/angular-aria.min.js"></script>
    <script src="Frontend/vendors/angular-messages.min.js"></script>
    <script src="Frontend/vendors/angular-cookies.min.js"></script>

    <script src="Frontend/vendors/svg-assets-cache.js"></script>
    <script src="Frontend/vendors/angular-material/angular-material.js"></script>
    <script src="Frontend/vendors/jquery/dist/jquery.js"></script>
    <script src="Frontend/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="Frontend/vendors/ng-draggable-widgets.js"></script>

    <script src="Frontend/vendors/js-xlsx/dist/xlsx.full.min.js"></script>

    <script src="Frontend/vendors/Blob/Blob.js"></script>
    <script src="Frontend/vendors/file-saver.js/FileSaver.js"></script>

    <script src="Frontend/vendors/tableexport.js/dist/js/tableexport.min.js"></script>

    

    <script src="Frontend/vendors/novus-nvd3-ebdf08b/build/d3.min.js"></script>
    <script src="Frontend/vendors/novus-nvd3-ebdf08b/build/nv.d3.min.js"></script>

    <script src="Frontend/vendors/novus-nvd3-ebdf08b/build/angular-nvd3.min.js"></script>
    <!--<script src="Frontend/vendors/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>-->
    
    <!-- endbuild -->
    <!-- build:js Frontend/scripts/scripts.js -->
    <script src="Frontend/app/app.js"></script>
    <script src="Frontend/app/app.route.js"></script>
    <script src="Frontend/app/services/authentication.service.js"></script>
   
    <script src="Frontend/app/services/ShareController.js"></script>
    <script src="Frontend/app/MasterController.js"></script>
    <script src="Frontend/app/Home/HomeController.js"></script>
    <script src="Frontend/app/Home/ServicesHome.js"></script>
    <script src="Frontend/app/Dasboard/DasboardController.js"></script>
    <script src="Frontend/app/Dasboard/ServicesDasboard.js"></script>
    <script src="Frontend/app/CreateSurvey/CreateSurveyController.js"></script>
    <script src="Frontend/app/CreateSurvey/CreateSurveyServices.js"></script>
    <script src="Frontend/app/Register/RegisterController.js"></script>
    <script src="Frontend/app/Register/ServicesRegister.js"></script>
    <script src="Frontend/app/CreateSurvey/CreateSurveyServices.js"></script>
    <script src="Frontend/app/ConductionSurvey/ConductionSurveyController.js"></script>
    <script src="Frontend/app/ConductionSurvey/ServicesGetDataSurvey.js"></script>
    <script src="Frontend/app/ResultSurvey/ResultSurveyController.js"></script>
   
   
    <!-- endbuild -->
</body>
</html>
