<div layout="row">
        <md-radio-button ng-repeat="1 in [1]"></md-radio-button>
        <md-input-container md-no-float flex>
        
        <input flex="100"  style="font-size:18px" placeholder="Option Name" ng-model="option">
        <md-icon flex  ng-click="removeOption()">
            <md-tooltip>
                Delete
            </md-tooltip>
            <i class="material-icons">clear</i>
            </md-icon>
        <p ng-show="showError" style="color:red">Option Similar</p>
    </md-input-container>
    
</div>